body {
  font-family: Verdana;
  font-size: 1.5em;
}

#team-members {
  clear: both;
}

#team-members .member {
  float: left;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;
}

#team-members .member div {
  width: 178px;
  height: 178px;
  border-radius: 10px;
  transition: 2s;
  transition-timing-function: linear;
}

#team-members .member div:hover {
box-shadow: 10px 10px 5px #FF00FF;
transition: 2s;
transition-timing-function: linear;
}

#team-members .member div.name {
  height: 35px;
  text-align: center;  
}

#team-members .member div.name:hover {
  box-shadow: 10px 10px 5px #888888;
  font-style: italic;
}

$primaryColor: #FF0000;
body {
  h1 {
    color: $primaryColor; 
  }
}

#Andre {
  background:
  url('../images/Classmates/Andre.JPG')
}

#Andre:hover {
  background:
  url('../images/Hover/Andre.JPG')
}

#Andrew {
  background:
  url('../images/Classmates/Andrew.JPG')
}

#Andrew:hover {
  background:
  url('../images/Hover/Andrew.JPG')
}
#Barret {
  background:
  url('../images/Classmates/Barret.JPG')
}

#Barret:hover {
  background:
  url('../images/Hover/Barret.JPG')
}
#Billy {
  background:
  url('../images/Classmates/Billy.JPG')
}

#Billy:hover {
  background:
  url('../images/Hover/Billy.JPG')
}
#Brett {
  background:
  url('../images/Classmates/Brett.JPG')
}

#Brett:hover {
  background:
  url('../images/Hover/Brett.JPG')
}
#Colin {
  background:
  url('../images/Classmates/Colin.JPG')
}

#Colin:hover {
  background:
  url('../images/Hover/Colin.JPG')
}
#Duncan {
  background:
  url('../images/Classmates/Duncan.JPG')
}

#Duncan:hover {
  background:
  url('../images/Hover/Duncan.JPG')
}
#Eric {
  background:
  url('../images/Classmates/Eric.JPG')
}

#Eric:hover {
  background:
  url('../images/Hover/Eric.JPG')
}

#Gabriel {
  background:
  url('../images/Classmates/Gabriel.JPG')
}

#Gabriel:hover {
  background:
  url('../images/Hover/Gabriel.JPG')
}

#Gabriel {
  background:
  url('../images/Classmates/Gabriel.JPG')
}

#Gabriel:hover {
  background:
  url('../images/Hover/Gabriel.JPG')
}

#Gordon {
  background:
  url('../images/Classmates/Gordon.JPG')
}

#Gordon:hover {
  background:
  url('../images/Hover/Gordon.JPG')
}

#Jackson {
  background:
  url('../images/Classmates/Jackson.JPG')
}

#Jackson:hover {
  background:
  url('../images/Hover/Jackson.JPG')
}

#Jamie {
  background:
  url('../images/Classmates/Jamie.JPG')
}

#Jamie:hover {
  background:
  url('../images/Hover/Jamie.JPG')
}

#Jeff {
  background:
  url('../images/Classmates/Jeff.JPG')
}

#Jeff:hover {
  background:
  url('../images/Hover/Jeff.JPG')
}

#Kevin {
  background:
  url('../images/Classmates/Kevin.JPG')
}

#Kevin:hover {
  background:
  url('../images/Hover/Kevin.JPG')
}

#Paul {
  background:
  url('../images/Classmates/Paul.JPG')
}

#Paul:hover {
  background:
  url('../images/Hover/Paul.JPG')
}

#Rene {
  background:
  url('../images/Classmates/Rene.JPG')
}

#Rene:hover {
  background:
  url('../images/Hover/Rene.JPG')
}

#Romila {
  background:
  url('../images/Classmates/Romila.JPG')
}

#Romila:hover {
  background:
  url('../images/Hover/Romila.JPG')
}

#Su {
  background:
  url('../images/Classmates/Su.JPG')
}

#Su:hover {
  background:
  url('../images/Hover/Su.JPG')
}

#Vy {
  background:
  url('../images/Classmates/Vy.JPG')
}

#Vy:hover {
  background:
  url('../images/Hover/Vy.JPG')
}

#Warren {
  background:
  url('../images/Classmates/Warren.JPG')
}

#Warren:hover {
  background:
  url('../images/Hover/Warren.JPG')
}